/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Boon Antiqua', serif;
    background-color: #e9ece0; /* off-white background */
    color: black;
    padding: 20px;
}

/* Header styling */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #a34af1; /* light blue headings */
    font-size: 3em;
}

h2 {
    color: #4c26ae; /* light blue subheadings */
    font-size: 2em;
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #311aa3;
    font-weight: bold;
}

nav a:hover {
    color: #0066cc; /* Darker blue on hover */
}

/* Main section */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
#Intro {
    justify-self: center;
}
#Intro img {
    width: 500px;
    border: #9709a9;
    border-style: solid;
    border-width: 10px;
}
#ADHD img {
    width: 500px;
    border: #9709a9;
    border-style: solid;
    border-width: 10px;

}
#Latchkey img{
    width: 300px;
    border: #9709a9;
    border-style: solid;
    border-width: 10px; 
}
.hidden{
    display: none 
}
#clickbait { text-decoration: underline;
} 
#clickbait span {
    text-decoration: underline;
}
/* Footer styling */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
}

/* Poem styling */
section p {
    font-size: 1.5em;
    line-height: 1.8;
}

.COVID{
    padding: 25px;
}